.sidebar{
    background-color: rgb(237, 237, 229);
    height: 100vh;
    padding-left: 20px;
    border: 1px black solid;
    
    
}

ul{
    list-style: none;
    
}

li{
    padding: 10px
}
img{
    width: 100px;
}

.menu{
    background-color:white}
