/* .dashboard{
    width: auto;
    background-color: antiquewhite;
    margin-top: 0px;
    padding: 50px;
    text-align: center;
} */

/* .dashboard{
    height: 300px;
    background-color: antiquewhite;
    margin-top: 0px;
    padding: 50px;
    align-items: center;
} */

/* .dash{
    margin: 100px;
    background-color: #FF9933;
} */

